{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
        create_wiki.html<br><br>
        this is create new wiki page named {{ new_page}}
        <form method="post" action="">
            {{ form.csrf_token }}
            {{ form.wiki_post(class="form-control", rows="20", placeholder="Add your wiki content use HTML for format...") }}
            
        <input type="submit" value="Save">
        </form>
        </div>
    </div>
</div>

{% endblock %}