{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3 class="text-center">create a new wiki page named <i>{{ new_page }}</i></h3>
            <form method="post" action="">
                {{ form.csrf_token }}
                <div class="form-group">
                    <label for="content" class="sr-only">Content</label>
                    {{ form.content(class="",style="min-width: 100%", id="content", rows="20", placeholder="Add your wiki content use HTML for format...") }}
                    {% if form.content.errors %}
                        {% for error in form.content.errors %}
                            <div class="form-error">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                <input type="submit" value="Save" class="form-inline">
            </form>
        </div>
    </div>
</div>
{% endblock %}