{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="text-center"> {{ wiki_page.page_name}}</h2>
            <form method="post" action="">
                {{ form.csrf_token }}
                <div class="form-group">
                    <label for="content" class="sr-only">content</label>
                    {{ form.content(class="form-control", id="content", rows="20") }}
                    {% if form.content.errors %}
                        {% for error in form.content.errors %}
                            <div class="form-error">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
            <input type="submit" value="Save">
            &nbsp;<a href="{{ url_for('show_wiki', page_name=wiki_page.page_name) }}">cancel</a>
            </form>
        </div>
    </div>
</div>


{% endblock %}