{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
            {% for post in wiki_posts %}
        <div class="col-md-4">
            <div class="front-border">
                <p><a href="{{ post.page_name }}">{{ post.page_name }}</a></p>
                <p><strong>version:&nbsp;</strong>{{ post.version }}</p>
                <p><strong>created:&nbsp; </strong>{{ post.format_date }}</p>
                <!-- {#<p><strong>by:&nbsp;</strong>{{ post.user.name }}</p>#} -->
                <p><strong>last edit:&nbsp;</strong>{{ post.last_modified_date }}&nbsp; {{ post.last_modified_time }}</p>
                <pre>{{ post.wiki_post | safe }}</pre>
            </div>
        </div>
            {% endfor %}
    </div>
</div>
{% endblock %}