{% extends "base.html" %}
{% block content %}

   
this is show_wiki template<br><br>
<li><a href="{{ url_for('edit_wiki', page_name=wiki_page.page_name) }}">Edit</a></li>
<li><a href="{{ url_for('show_history', page_name=wiki_page.page_name) }}">History</a></li>
    {{ wiki_page.wiki_post | safe }}
    <br>
    <!-- {# date created: {{ wiki_page.format_date }}&nbsp;{{ wiki_page.format_time }}<br>#} -->
    last edit: {{ wiki_page.last_modified_date }}&nbsp;{{ wiki_page.last_modified_time }}<br>
    <strong>Version:</atrong> {{ wiki_page.version }}

    

{% endblock %}