{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="history-show-wiki">
                <hr>
            {% if current_user.is_active %}
                <ul class="list-unstyled list-inline">
                    <li><a href="{{ url_for('edit_wiki', page_name=wiki_page.page_name) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;edit</a></li>
                    <li><a href="{{ url_for('show_history', page_name=wiki_page.page_name) }}"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;history</a></li>
                    <li><a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>&nbsp;back</a></li>
                </ul>
            {% else %}
                <ul class="list-unstyled list-inline">
                    <li><a href="{{ url_for('show_history', page_name=wiki_page.page_name) }}"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;history</a></li>
                    <li><a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>&nbsp;back</a></li>
                 </ul>
            {% endif %}
                <p><strong>created:&nbsp;</strong>{{ wiki_page.format_date }}</p>
                <p><strong>last edit:&nbsp;</strong> {{ wiki_page.last_modified_date }}&nbsp;{{ wiki_page.last_modified_time }}<p>
                <p><strong>Version:</strong> {{ wiki_page.version }}</p>
            <hr>
            <pre>{{ wiki_page.wiki_post | safe }}</pre>
            </div>
        </div>
    </div>
</div>

                

    

{% endblock %}