{% extends "base.html" %}
{% block content %}

<div class="container" >
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div id="logbox"  >
                <h1 class="text-center">Create an Account</h1>

                <form id="signup" method="post" action="">
                    {{ form.csrf_token }}
                    
                     <div class="form-group">
                        <label for="inputUsername" class="sr-only">Username</label>
                        {{ form.username(placeholder="username",id="inputUsername", class="form-control input") }}
                        <span class="error">
                          {% if form.username.errors %}
                            {% for error in form.username.errors %}
                              {{ error }}
                            {% endfor %}
                          {% endif %}
                        </span>
                    </div>

                  

                    <div class="form-group">
                        <input type="submit" value="Sign me up!" class="inputButton"/>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
    <!--col-md-6-->

{% endblock %}