{% extends "base.html" %}
{% block content %}

<div class="container" >
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div id="logbox"  >
                <h1 class="text-center">Create an Account</h1>

                <form id="signup" method="post" action="">
                    {{ form.csrf_token }}
                    
                     <div class="form-group">
                        <label for="username" class="sr-only">Username</label>
                        {{ form.username(placeholder="username", id="username", class="form-control input") }}
                        {% if form.username.errors %}
                            {% for error in form.username.errors %}
                                <div class="bg-danger form-error">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label for="email" class="sr-only">Email</label>
                        {{ form.email(placeholder="email", id="email", class="form-control input") }}
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                <div class="bg-danger form-error">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label for="password" class="sr-only">Password</label>
                        {{ form.password(placeholder="password", id="password", class="form-control input") }}
                        {% if form.password.errors %}
                            {% for error in form.password.errors %}
                                <div class="bg-danger form-error">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label for="confirm" class="sr-only">Confirm</label>
                        {{ form.confirm(placeholder="confirm password", class="form-control input") }}
                        {% if form.confirm.errors %}
                            {% for error in form.confirm.errors %}
                                <div class="bg-danger form-error">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Sign me up!" class="inputButton"/>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
    <!--col-md-6-->

{% endblock %}